<app-page-header [breadcrumbs]="[
{label: 'Home',     url: '../../'},
{label: 'Minha Conta (Administrador)',  url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 d-flex">
                <div class="administrador-nav flex-grow-1">
                    <ul>
                        <li *ngFor="let link of links" class="administrador-nav__item" routerLinkActive="administrador-nav__item-active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="link.url">{{ link.label }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>