<div class="card">
    <div class="card-header">
        <h5>Meu Perfil</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-12">
                <div class="form-group">

                    <label for="profile-first-name" class="required">Nome <small class="text-danger">*</small></label>
                    <input type="text" class="form-control" id="profile-first-name"
                    [(ngModel)]="cliente.nome" placeholder="Nome" required>
                </div>

                <div class="form-group">
                    <label for="profile-cpf">CPF <small class="text-danger">*</small></label>
                    <input type="text" class="form-control" id="profile-cpf"
                     [(ngModel)]="cliente.cpf" placeholder="CPF" required>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="campo-telefoneCliente">Telefone<small class="text-danger"> *</small></label>
                        <input type="text" id="campo-telefoneCliente" class="form-control" placeholder="Informe seu telefone fixo ou celular" required [(ngModel)]="cliente.telefone" name="telefone" [textMask]="{mask: maskTelefone}">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="campo-sexoCliente">Sexo</label>
                        <ng-select name="select-sexo" id="campo-sexoCliente">
                            <ng-option value="Masculino">Masculino</ng-option>
                            <ng-option value="Feminino">Feminino</ng-option>
                        </ng-select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="profile-datanascimento">Data de Nascimento <small class="text-danger">*</small></label>
                    <input type="date"  min="1880-01-01" class="form-control" id="profile-datanascimento"
                    [(ngModel)]="cliente.dataNascimento" placeholder="Data de Nascimento" required>
                </div>

                <div class="form-group">
                    <a routerLink="/compact/account/card" class="btn btn-success float-left mr-2"><i class="fas fa-plus-circle"></i> Adicionar Cartão</a>
                    <a routerLink="/compact/account/addresses" class="btn btn-success mb-2"><i class="fas fa-plus-circle"></i> Adicionar Endereço</a>
                    <button type="submit" class="btn btn-success float-right mr-2" (click)="salvar(profile)"><i class="fas fa-save"></i> Salvar</button>

                </div>
            </div>
        </div>
    </div>
</div>
