<div class="card">
    <div class="card-header">
        <h5>Editar Perfil</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-7 col-xl-6">
                <div class="form-group">
                    <label for="profile-first-name" class="required">Nome <small class="danger">*</small></label>
                    <input type="text" class="form-control" id="profile-first-name" 
                    [(ngModel)]="cliente.nome" placeholder="Nome" required>
                </div>

                <div class="form-group">
                    <label for="profile-cpf">CPF <small class="danger">*</small></label>
                    <input type="text" class="form-control" id="profile-cpf"
                     [(ngModel)]="cliente.cpf" placeholder="CPF" required>
                </div>
                
                <div class="form-group">
                    <label for="profile-phone">Número de Telefone</label>
                    <input type="text" class="form-control" id="profile-phone" 
                    [(ngModel)]="cliente.telefone" placeholder="Número de Telefone">
                </div>

                <div class="form-group">
                    <label for="profile-datanascimento">Data de Nascimento <small class="danger">*</small></label>
                    <input type="date"  min="1880-01-01" class="form-control" id="profile-datanascimento" 
                    [(ngModel)]="cliente.dataNascimento" placeholder="Data de Nascimento" required>
                </div>

                <div class="form-group">
                    <a routerLink="/compact/account/card" class="btn btn-success float-right"><i class="fas fa-plus-circle"></i> Adicionar cartão</a>
                    <button type="submit" class="btn btn-success float-right mr-2" (click)="salvar(profile)"><i class="fas fa-save"></i> Salvar</button>
                    <a routerLink="/compact/account/addresses" class="btn btn-success mt-2 float-right"><i class="fas fa-plus-circle"></i> Adicionar Endereço</a>
                </div>
            </div>
        </div>
    </div>
</div>
