<div class="card">
    <div class="card-header">
        <h5>Cartão</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-7 col-xl-6">
                <div class="form-group">
                    <label for="nome-titular">Nome do Titular do Cartão</label>
                    <input type="text" class="form-control" id="nome-titular" placeholder="Titular do Cartão">
                </div>

                <div class="form-group">
                    <label for="numero-cartao">Número do Cartão</label>
                    <input type="text" class="form-control" id="numero-cartao" placeholder="Número do Cartão">
                </div>

                <div class="form-group">
                    <label for="vencimento-cartao">Vencimento do Cartão</label>
                    <input type="date" class="form-control" id="vencimento-cartao" placeholder="Vencimento Cartão">
                </div>

                <div class="form-group">
                    <label for="cvc">CVC</label>
                    <input type="text" class="form-control" id="cvc" placeholder="CVC">
                </div>

                <div class="form-group">
                    <button class="btn btn-success mr-3">Salvar</button>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>