<button class="btn btn-raised btn-primary float-right" (click)="openModal(template)">Adicionar Cartão</button>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Cartão</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="nome-cartao">Nome do Titular do Cartão</label>
            <input type="text" class="form-control" id="nome-cartao" placeholder="Titular do Cartão"
                [(ngModel)]="cartao.nomeProprietario">
        </div>

        <div class="form-group">
            <label for="numero-cartao">Número do Cartão</label>
            <input type="text" class="form-control" id="numero-cartao" placeholder="Número do Cartão"
                [(ngModel)]="cartao.numero">
        </div>

        <div class="form-group">
            <label for="vencimento-cartao">Vencimento do Cartão</label>
            <input type="date" class="form-control" id="vencimento-cartao" placeholder="Vencimento Cartão"
                [(ngModel)]="cartao.dataVencimento">
        </div>

        <div class="form-group">
            <label for="cvc">CVC</label>
            <input type="text" class="form-control" id="cvc" placeholder="CVC" [(ngModel)]="cartao.cvc">
        </div>

        <!-- <div class="form-group">
            <label for="IdCliente">IdCliente</label>
            <input type="text" class="form-control" id="IdCliente" placeholder="IdCliente" [(ngModel)]="cartao.clienteId">
        </div> -->

         <div class="form-group">
            <label for="IdCliente">IdCliente</label>
            <ng-select [items]="clientes" bindLabel="nome" bindValue="id" placeholder="Selecione" [(ngModel)]="IdCliente"
            (open)="obterTodosCategoria()" (change)="selecionadoCategoria($event)">
          </ng-select>
        </div> 

    </div>


    <div class="form-group">
        <button class="btn btn-success ml-3" (click)="salvar(endereco)">Salvar</button>


    </div>

</ng-template>

<table class="table table-striped table-hover table-bordered mt-5">
    <thead>
        <tr>
            <td>Código</td>
            <td>Número</td>
            <td>nome Proprietário</td>
            <td>Data Vencimento</td>
            <td>CVC</td>
            <td>Ação</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cartao of cartoes">
            <td>{{cartao.id}}</td>
            <td>{{cartao.numero}}</td>
            <td>{{cartao.nomeProprietario}}</td>
            <td>{{cartao.dataVencimento}}</td>
            <td>{{cartao.cvc}}</td>
            <td>
                <button class="btn btn-raised btn-primary mr-2" (click)="modal">Editar</button>
                <button class="btn btn-raised btn-danger" (click)="apagar(categoria.id)">Apagar</button>
            </td>
        </tr>
    </tbody>
</table>