<app-page-header [header]="'Screwdrivers'" [breadcrumbs]="[
    {label: 'Home',         url: '../../'},
    {label: 'Screwdrivers', url: ''}
]"></app-page-header>

<ng-container *ngIf="columns === 3">
    <div class="container">
        <div class="shop-layout shop-layout--sidebar--{{ sidebarPosition }}">
            <div class="shop-layout__sidebar" *ngIf="sidebarPosition === 'start'">
                <app-shop-sidebar [filters]="filters" offcanvas="mobile"></app-shop-sidebar>
            </div>
            <div class="shop-layout__content">
                <div class="block">
                    <app-products-view [products]="products" [layout]="viewMode" grid="grid-3-sidebar" [limit]="15" offcanvas="mobile"></app-products-view>
                </div>
            </div>
            <div class="shop-layout__sidebar" *ngIf="sidebarPosition === 'end'">
                <app-shop-sidebar [filters]="filters" offcanvas="mobile"></app-shop-sidebar>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="columns > 3">
    <div class="container">
        <div class="block">
            <app-products-view [products]="products" [layout]="viewMode" [grid]="'grid-'+columns+'-full'" [limit]="15" offcanvas="always"></app-products-view>
        </div>
        <app-shop-sidebar [filters]="filters" offcanvas="always"></app-shop-sidebar>
    </div>
</ng-container>
