<div class="card">
    <div class="card-header">
        <h5>Histórico dos Pedidos</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-table">
        <div class="table-responsive-sm">
            <table>
                <thead>
                <tr>
                    <th>Pedidos</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let compra of compras">
                    <td>{{ compra.id }}</td>
                    <td>{{ compra.valorTotal }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-divider"></div>
    <div class="card-footer">
        <app-pagination [total]="2"></app-pagination>
    </div>
</div>
