<!-- .block-features -->
<div class="block block-features block-features--layout--{{ layout }}">
    <div class="container-fluid">
        <div class="block-features__list">
            <div class="block-features__item">
                <div class="block-features__icon">
                    <app-icon name="fi-free-delivery-48" size="48"></app-icon>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">Frete Grátis</div>
                    <div class="block-features__subtitle">Para Compras a Partir de R$50</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__icon">
                    <app-icon name="fi-24-hours-48" size="48"></app-icon>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">Suporte 24H</div>
                    <div class="block-features__subtitle">Ligue Qualquer Hora
                        (47) 99178-9024
                    </div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__icon">
                    <app-icon name="fi-payment-security-48" size="48"></app-icon>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">100% Seguro</div>
                    <div class="block-features__subtitle">Apenas Pagamentos Seguros</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__icon">
                    <app-icon name="fi-tag-48" size="48"></app-icon>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">Ofertas</div>
                    <div class="block-features__subtitle">Descontos até 90%</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-features / end -->
