<app-block-slideshow [withDepartments]="true"></app-block-slideshow>

<app-block-features></app-block-features>

<app-block-products-carousel header="Produtos em Destaque" layout="grid-4"
                             [loading]="featuredProducts.loading"
                             [products]="featuredProducts.products"
                             [groups]="featuredProducts.groups"
                             (groupChange)="featuredProducts.groupChange($event)"></app-block-products-carousel>

<app-block-banner></app-block-banner>


<app-block-products-carousel header="Produtos Novos" layout="horizontal" [rows]="2"
                             [loading]="newArrivals.loading"
                             [products]="newArrivals.products"
                             [groups]="newArrivals.groups"
                             (groupChange)="newArrivals.groupChange($event)"></app-block-products-carousel>




