<app-block-slideshow [withDepartments]="true"></app-block-slideshow>

<app-block-features></app-block-features>

<app-block-products-carousel header="Produtos em Destaque" layout="grid-4"
                             [loading]="featuredProducts.loading"
                             [products]="featuredProducts.products"
                             [groups]="featuredProducts.groups"
                             (groupChange)="featuredProducts.groupChange($event)"></app-block-products-carousel>

<app-block-banner></app-block-banner>

<!-- <app-block-products header="Mais Vendidos" layout="large-first" [products]="products"></app-block-products> -->

<!-- <app-block-categories header="Categorias Populares" layout="classic" [categories]="categories"></app-block-categories> -->

<!-- <app-block-products-carousel header="Produtos Novos" layout="horizontal" [rows]="2"
                             [loading]="newArrivals.loading"
                             [products]="newArrivals.products"
                             [groups]="newArrivals.groups"
                             (groupChange)="newArrivals.groupChange($event)"></app-block-products-carousel> -->

<!-- <app-block-posts header="Últimas Noticias" layout="list-sm" [posts]="posts"></app-block-posts> -->

<!-- <app-block-brands [brands]="brands"></app-block-brands> -->

<app-block-product-columns [columns]="columns"></app-block-product-columns>
