<div class="site-footer__widget footer-contacts">
    <h5 class="footer-contacts__title">Fale Conosco</h5>

    <div class="footer-contacts__text">
    </div>

    <ul class="footer-contacts__contacts">
        <li><i class="footer-contacts__icon fas fa-globe-americas"></i>Blumenau</li>
        <li><i class="footer-contacts__icon far fa-envelope"></i>hawksuporte@gmail.com</li>
        <li><i class="footer-contacts__icon fas fa-mobile-alt"></i>(47) 3327-6727</li>
        <li><i class="footer-contacts__icon far fa-clock"></i>Seg á Sex 8h ás 17h</li>
    </ul>
</div>
