<app-page-header [header]="'Comparison'" [breadcrumbs]="[
    {label: 'Home',       url: '../../'},
    {label: 'Comparison', url: ''}
]"></app-page-header>

<div class="block block-empty" *ngIf="!products.length">
    <div class="container">
        <div class="block-empty__body">
            <div class="block-empty__message">Você não escolheu nenhum produto para comparar!</div>
            <div class="block-empty__actions">
                <a routerLink="../../" class="btn btn-success btn-sm">Prosseguir</a>
            </div>
        </div>
    </div>
</div>

<div class="block" *ngIf="products.length">
    <div class="container">
        <div class="table-responsive">
            <table class="compare-table">
                <tbody>
                <tr>
                    <th>Produto</th>
                    <td *ngFor="let product of products">
                        <a [routerLink]="root.product(product.id)" class="compare-table__product-link">
                            <div class="compare-table__product-image">
                                <img *ngIf="product.images?.length" [src]="product.images[0]" alt="">
                            </div>
                            <div class="compare-table__product-name">{{ product.name }}</div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Avaliação</th>
                    <td *ngFor="let product of products">
                        <div class="compare-table__product-rating">
                            <app-rating [value]="product.rating"></app-rating>
                        </div>
                        <div class="compare-table__product-rating-legend">
                            {{ product.reviews }} Reviews
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Disponibilidade</th>
                    <td *ngFor="let product of products">
                        <span *ngIf="product.availability === 'in-stock'" class="compare-table__product-badge badge badge-success">No Estoque</span>
                    </td>
                </tr>
                <tr>
                    <th>Preço</th>
                    <td *ngFor="let product of products">{{ product.price| currency:'R$ ' }}</td>
                </tr>
                <tr>
                    <th>Adicionar ao Carrinho</th>
                    <td *ngFor="let product of products">
                        <button class="btn btn-success" (click)="addToCart(product)" [ngClass]="{'btn-loading': addedToCartProducts.includes(product)}">Adicionar ao Carrinho</button>
                    </td>
                </tr>
                <tr *ngFor="let feature of features">
                    <th>{{ feature.name }}</th>
                    <td *ngFor="let product of products">{{ feature.values[product.id] }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td *ngFor="let product of products">
                        <button class="btn btn-secondary btn-sm" (click)="remove(product)" [ngClass]="{'btn-loading': removedProducts.includes(product)}">Remover</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
