<div class="dashboard">
    <div class="dashboard__profile card profile-card">
        <div class="card-body profile-card__body">
            <div class="profile-card__avatar">
                <img src="./assets/images/avatars/avatar-3.jpg" alt="">
            </div>
            <div class="profile-card__name">João Maranhão</div>
            <div class="profile-card__email">joãomaranhão@gmail.com</div>
            <div class="profile-card__edit">
                <a routerLink="../profile" class="btn btn-secondary btn-sm">Editar Perfil</a>
            </div>
        </div>
    </div>
    <div class="dashboard__address card address-card address-card--featured">
        <div class="address-card__badge" *ngIf="address.default">Endereço</div>
        <div class="address-card__body">
            <div class="address-card__name">{{ address.firstName + ' ' + address.lastName}}</div>
            <div class="address-card__row">
                {{ address.country }}<br>
                {{ address.postcode }}, {{ address.city }}<br>
                {{ address.address }}
            </div>
            <div class="address-card__row">
                <div class="address-card__row-title">Numero de Telefone</div>
                <div class="address-card__row-content">{{ address.phone }}</div>
            </div>
            
            <div class="address-card__row">
                <div class="address-card__row-title">Email</div>
                <div class="address-card__row-content">{{ address.email }}</div>
            </div>
            <div class="address-card__footer">
                <a routerLink="./">Editar Informações</a>
            </div>
        </div>
    </div>
    <div class="dashboard__address card address-card address-card--featured my-2">
        <div class="address-card__badge" *ngIf="address.default">Cartões</div>
        <div class="address-card__body">
            <div class="address-card__numerocartao">{{ address.numerocartao + ' ' + address.}}</div>
            <div class="address-card__row"
                {{ address.country }}<br>
                {{ address.postcode }}, {{ address.city }}<br>
                {{ address.address }}
            </div>
            <div class="address-card__row">
                <div class="address-card__row-title">Numero de Telefone</div>
                <div class="address-card__row-content">{{ address.phone }}</div>
            </div>
            
            <div class="address-card__row">
                <div class="address-card__row-title">Email</div>
                <div class="address-card__row-content">{{ address.email }}</div>
            </div>
            <div class="address-card__footer">
                <a routerLink="./">Editar Informações</a>
            </div>
        </div>
    </div>
    <div class="dashboard__orders card">
        <div class="card-header">
            <h5>Pedidos Recentes</h5>
        </div>
        <div class="card-divider"></div>
        <div class="card-table">
            <div class="table-responsive-sm">
                <table>
                    <thead>
                    <tr>
                        <th>Ordem</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let order of orders">
                        <td><a href="">#{{ order.id }}</a></td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.total }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
