<div class="block">
    <div class="container">
        <div class="not-found">
            <div class="not-found__404">
                Oops! Error 404
            </div>

            <div class="not-found__content">
                <h1 class="not-found__title">Página não encontrada</h1>

                <p class="not-found__text">
                    Desculpe, a página que você está tentando acessar não foi encontrada.<br>
                    Tente novamente.
                </p>

                <form class="not-found__search">
                    <input type="text" class="not-found__search-input form-control" placeholder="Search Query...">
                    <button type="submit" class="not-found__search-button btn btn-success">Search</button>
                </form>

                <p class="not-found__text">
                    Ou vá para a página inicial para começar de novo.
                </p>

                <a class="btn btn-secondary btn-sm" href="index.html">Ir para a página Inicial</a>
            </div>
        </div>
    </div>
</div>
