<div class="block about-us">
    <div class="about-us__image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="about-us__body">
                    <h1 class="about-us__title">Sobre Nós</h1>
                    <div class="about-us__text typography">
                        <p>

                        </p>
                        <p>
                            Hawk é uma plataforma virtual para E-Commerce, onde seus colaboradores (empresas) podem cadastrar seus produtos, para que os usuários do site possam usufruir da plataforma de compras. As empresas poderão entrar em contato através do suporte para que possam se cadastrar, e então ter a oportunidade de se beneficiar desta "vitrine online" e ampliar o público atingido.

                        </p>
                    </div>
                    <div class="about-us__team">
                        <h2 class="about-us__team-title">Conheça Nossa Equipe</h2>
                        <div class="about-us__teammates teammates">
                            <owl-carousel-o [options]="carouselOptions" appOwlPreventClick>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <!-- <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-1.jpg" alt="">
                                        </div> -->
                                            <a class="teammate__name" href="https://linkedin.com/in/vitor-paulo-00604a185/">Vitor Paulo</a>
                                            <div class="teammate__position text-muted">Desenvolvedor</div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-2.jpg" alt="">
                                        </div>
                                        <a class="teammate__name" href="https://linkedin.com/in/erickbaron">Erick Baron</a>
                                        <div class="teammate__position text-muted">Desenvolvedor</div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-3.jpg" alt="">
                                        </div>
                                        <a class="teammate__name" href="https://linkedin.com/in/luan-matheus-schmidt/">Luan Schmidt</a>
                                        <div class="teammate__position text-muted">Desenvolvedor</div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <!-- <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-4.jpg" alt="">
                                        </div> -->
                                        <a class="teammate__name" href="https://linkedin.com/in/jonatas-adams-da-silva-00b66b189/">Jonatas Adams</a>
                                        <div class="teammate__position text-muted">Desenvolvedor</div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-5.jpg" alt="">
                                        </div>
                                        <a class="teammate__name" href="https://linkedin.com/in/joão-victor-dantas-feitosa-a36b84185/">João Victor</a>
                                        <div class="teammate__position text-muted">Desenvolvedor</div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-6.jpg" alt="">
                                        </div>
                                        <a class="teammate__name" href="https://linkedin.com/in/igor-gabriel-tschoeke-5a8098185/">Igor Tschoeke</a>
                                        <div class="teammate__position text-muted">Desenvolvedor</div>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
