<div class="block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mx-auto d-flex">
                <div class="card flex-grow-1 border-primary mt-4 mb-0 justify-content-center">
                    <div class="card-body">
                        <h3 class="card-title text-center">Cadastre-se</h3>
                        <form>
                            <div class="form-group">
                                <label for="campo-nomeCadastro">Nome de Usuário (Nickname)<small class="text-danger"> *</small></label>
                                <input type="text" id="campo-nomeCadastro" class="form-control" placeholder="Cadastre um nome de usuário" required [(ngModel)]="usuario.nome" name="nome" >
                            </div>
                            <div class="form-group">
                                <label for="campo-emailCadastro">Email<small class="text-danger"> *</small></label>
                                <input type="email" id="campo-emailCadastro" class="form-control" placeholder="Informe seu email" required [(ngModel)]="usuario.email" name="email" >
                            </div>
                            <div class="form-group">
                                <label for="campo-senhaCadastro">Senha<small class="text-danger"> *</small></label>
                                <input type="password" id="campo-senhaCadastro" class="form-control" placeholder="Senha" required [(ngModel)]="usuario.senha" name="senha">
                            </div>
                            <div class="form-group">
                                <label for="campo-confirmarSenha">Confirme a sua senha<small class="text-danger"> *</small></label>
                                <input type="password" class="form-control" id="campo-confirmarSenha" placeholder="Confirme a senha" required [(ngModel)]="usuario.confirmarSenha" name="confirmarSenha">
                            </div>
                            <div class="form-actions float-right">
                                <button type="button" class="btn btn-raised btn-outline-danger mr-2" (click)="goBack()">
                                    <i class="fas fa-times-circle fa-lg fa-fw"></i> Cancelar
                                </button>
                                <button type="submit" class="btn btn-success btn-primary" (click)="cadastrarUsuario()" routerLink="/compact/account/profile">
                                    <i class="fas fa-save fa-lg fa-fw"></i> Cadastrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>