<div class="card">
    <div class="card-header">
        <h5>Alterar Senha</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-7 col-xl-6">
                <div class="form-group">
                    <label for="password-current">Senha Atual</label>
                    <input type="password" class="form-control" id="password-current" placeholder="Senha Atual">
                </div>
                <div class="form-group">
                    <label for="password-new">Nova Senha</label>
                    <input type="password" class="form-control" id="password-new" placeholder="Nova Senha">
                </div>
                <div class="form-group">
                    <label for="password-confirm">Confirmar Senha</label>
                    <input type="password" class="form-control" id="password-confirm" placeholder="Confirmar Senha">
                </div>

                <div class="form-group mt-5 mb-0">
                    <button class="btn btn-success float-right"><i class="fas fa-pencil-alt"></i> Alterar</button>
                </div>
            </div>
        </div>
    </div>
</div>
