// -------------------------
// --- You can add your custom CSS here and it will overwrite template styles.
// -------------------------

.cadastro-link {
    align-self: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    border: none;

    &:hover {
        color: $link-hover-color;
    }
}
