<!-- .block-brands -->
<div class="block block-brands">
    <div class="container">
        <div class="block-brands__slider">
            <owl-carousel-o [options]="carouselOptions" appOwlPreventClick>
                <ng-container *ngFor="let brand of brands">
                    <ng-template carouselSlide>
                        <div class="block-brands__item">
                            <a href=""><img [src]="brand.image" alt=""></a>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</div>
<!-- .block-brands / end -->
