<div class="card">
    <div class="card-header">
        <h5>Endereço</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-7 col-xl-6">
              <div class="form-group">
                    <label for="estado">Estado</label>
                    <input type="select" class="form-control" id="estado" placeholder="Estado"
                    [(ngModel)]="endereco.estado">
                </div>
                   <!--<div class="form-group">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade" placeholder="Cidade">
                </div>
                <div class="form-group">
                    <label for="cep">CEP</label>
                    <input type="text" class="form-control" id="cep" placeholder="CEP" required>
                </div>
                
                <div class="form-group">
                    <label for="logradouro">Logradouro</label>
                    <input type="text" class="form-control" id="logradouro" placeholder="Logradouro" required>
                </div>


                <div class="form-group">
                    <label for="numero">Número</label>
                    <input type="text" class="form-control" id="numero" placeholder="Número" required>
                </div>


                <div class="form-group">
                    <button class="btn btn-success mr-3" (click)="salvar()">Salvar</button>

                </div> -->
            </div>
        </div>
    </div>
</div>