<app-page-header [header]="'Contato'" [breadcrumbs]="[
    {label: 'Home',       url: '../../'},
    {label: 'Contato', url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="card mb-0 contact-us">
            <div class="contact-us__map">
                <iframe src='https://maps.google.com/maps/place/q=Holbrook-Palmer%20Park&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed'
                        frameborder='0' scrolling='no' marginheight='0' marginwidth='0'></iframe>
            </div>
            <div class="card-body">
                <div class="contact-us__container">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                            <h4 class="contact-us__header card-title">Nosso Endereço</h4>

                            <div class="contact-us__address">
                                <p>
                                    Rua Benjamin Constant, 857 - Escola Agrícola, Blumenau - Santa Catarina, SC 89037-501 BRA<br>
                                    Email: hawksuporte@gmail.com<br>
                                    Telefone: +55 47 3327-67-27
                                </p>

                                <p>
                                    <strong>Horário de Funcionamento</strong><br>
                                    Segunda a Sexta: 8h às 17h<br>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <h4 class="contact-us__header card-title">Deixe-nos uma Mensagem</h4>

                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="form-name">Seu nome</label>
                                        <input type="text" id="form-name" class="form-control" placeholder="Seu Nome">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="form-email">Email</label>
                                        <input type="email" id="form-email" class="form-control" placeholder="Endereço de Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="form-subject">Assunto</label>
                                    <input type="text" id="form-subject" class="form-control" placeholder="Assunto">
                                </div>
                                <div class="form-group">
                                    <label for="form-message">Mensagem</label>
                                    <textarea id="form-message" class="form-control" rows="4" placeholder="Digite aqui sua mensagem..."></textarea>
                                </div>
                                <button type="submit" class="btn btn-success">Enviar Mensagem</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
