<a routerLink="../address" class="btn btn-raised btn-primary float-right">Adicionar Endereço</a>

<table class="table table-striped table-hover table-bordered mt-5">
    <thead>
      <tr>
        <td>Código</td>
        <td>Estado</td>
        <td>Cidade</td>
        <td>CEP</td>
        <td>Logradouro</td>
        <td>Complemento</td>
        <td>Número</td>
        <td>Ação</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let endereco of enderecos">
        <td>{{endereco.id}}</td>
        <td>{{endereco.Estado}}</td>
        <td>{{endereco.Cidade}}</td>
        <td>{{endereco.CEP}}</td>
        <td>{{endereco.Logradouro}}</td>
        <td>{{endereco.Complemento}}</td>
        <td>{{endereco.numero}}</td>
        <td>
          <button class="btn btn-raised btn-primary mr-2" (click)="modal">Editar</button>
          <button class="btn btn-raised btn-danger" 
          (click)="apagar(categoria.id)">Apagar</button>
        </td>
      </tr>
    </tbody>
  </table>
