<div class="addresses-list">
    <a routerLink="../endereco" class="addresses-list__item addresses-list__item--new">
        <div class="addresses-list__plus"></div>
        <div class="btn btn-secondary btn-sm">Adicionar Novo</div>
    </a>
    <div class="addresses-list__divider"></div>
    <ng-container *ngFor="let address of addresses">
        <div class="addresses-list__item card address-card">
            <div class="address-card__badge" *ngIf="address.default">Padrão</div>
            <div class="address-card__body">

                <div class="address-card__row">Estado:{{ address.estado}}<br>
                    Cidade:{{ address.cidade }}<br>
                    Rua:{{ address.logradouro }}<br>
                    Complemento:{{ address.complemento }}<br>
                    Número:{{ address.numero}}
                </div>

                <div class="address-card__footer">
                    <a routerLink="../editar">Editar</a>&nbsp;&nbsp;

                    <a routerLink="./">Remover</a>
                </div>
            </div>
        </div>
        <div class="addresses-list__divider"></div>
    </ng-container>
</div>
