<h5>Seus Endereços:</h5>

<button class="btn btn-raised btn-primary float-center" (click)="openModal(template)">Adicionar Endereço</button>

<!-- <button class="btn btn-raised btn-primary float-right mr-2" (click)="openModalOption(templateOption)">Apagar</button> -->


<!-- <ng-template #templateOption>
  <div class="modal-body text-center">
    <p>Deseja Realmente Apagar?</p>
    <button type="button" class="btn btn-success" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-danger ml-2" (click)="decline()" >Não</button>
  </div>
</ng-template> -->

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Endereço</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="estado">Estado</label>
      <input type="select" class="form-control" id="estado" placeholder="Estado"
       [(ngModel)]="enderecoCliente.estado" required>
    </div>
    
    <div class="form-group">
      <label for="cidade">Cidade</label>
      <input type="text" class="form-control" id="cidade" placeholder="Cidade"
       [(ngModel)]="enderecoCliente.cidade" required>
    </div>
    
    <div class="form-group">
      <label for="cep">CEP</label>
      <input type="text" class="form-control" id="cep" placeholder="CEP" 
      [(ngModel)]="enderecoCliente.cep" required>
    </div>
    
    <div class="form-group">
      <label for="logradouro">Logradouro</label>
      <input type="text" class="form-control" id="logradouro" placeholder="Logradouro" 
      [(ngModel)]="enderecoCliente.logradouro" required>
    </div>
    
    <div class="form-group">
      <label for="complemento">Complemento</label>
      <input type="text" class="form-control" id="complemento" placeholder="Complemento"
      [(ngModel)]="enderecoCliente.complemento" required>
    </div>
    
    <div class="form-group">
      <label for="numero">Número</label>
      <input type="text" class="form-control" id="numero" placeholder="Número" required [(ngModel)]="enderecoCliente.numero">
    </div>
    <div class="form-group">
      <label for="numero">Id</label>
      <input type="text" class="form-control" id="numero" placeholder="Número" required
      [(ngModel)]="enderecoCliente.clienteId">
    </div>

    
    <div class="form-group">
      <button class="btn btn-success mr-3" (click)="salvar(enderecoCliente)">Salvar</button>
      
    </div>
  </div>
</ng-template>

<ng-template #templateEditar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Endereço</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="estado">Estado</label>
      <input type="select" class="form-control" id="estado" placeholder="Estado" [(ngModel)]="enderecoCliente.estado">
    </div>
    
    <div class="form-group">
      <label for="cidade">Cidade</label>
      <input type="text" class="form-control" id="cidade" placeholder="Cidade" [(ngModel)]="enderecoCliente.cidade">
    </div>
    
    <div class="form-group">
      <label for="cep">CEP</label>
      <input type="text" class="form-control" id="cep" placeholder="CEP" required [(ngModel)]="enderecoCliente.cep">
    </div>
    
    <div class="form-group">
      <label for="logradouro">Logradouro</label>
      <input type="text" class="form-control" id="logradouro" placeholder="Logradouro" required
      [(ngModel)]="enderecoCliente.logradouro">
    </div>
    
    <div class="form-group">
      <label for="complemento">Complemento</label>
      <input type="text" class="form-control" id="complemento" placeholder="Complemento" required
      [(ngModel)]="enderecoCliente.complemento">
    </div>
    
    <div class="form-group">
      <label for="numero">Número</label>
      <input type="text" class="form-control" id="numero" placeholder="Número" required [(ngModel)]="enderecoCliente.numero">
    </div>
    <div class="form-group">
      <label for="numero">Id</label>
      <input type="text" class="form-control" id="numero" placeholder="Número" required
      [(ngModel)]="enderecoCliente.clienteId">
    </div>
    
    
    <div class="form-group">
      <button class="btn btn-success mr-3" (click)="editar(enderecoCliente)">Alterar</button>
      
    </div>
  </div>
</ng-template>


<table class="table table-striped table-hover table-bordered mt-2">
  <thead>
    <tr>
      <td>Código</td>
      <td>Estado</td>
      <td>Cidade</td>
      <td>CEP</td>
      <td>Logradouro</td>
      <td>Complemento</td>
      <td>Número</td>
      <td>Ação</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let enderecoCliente of enderecos">
      <td>{{enderecoCliente.id}}</td>
      <td>{{enderecoCliente.estado}}</td>
      <td>{{enderecoCliente.cidade}}</td>
      <td>{{enderecoCliente.cep}}</td>
      <td>{{enderecoCliente.logradouro}}</td>
      <td>{{enderecoCliente.complemento}}</td>
      <td>{{enderecoCliente.numero}}</td>
      <td>
        <button class="btn btn-raised btn-danger" (click)="apagar(enderecoCliente)">Apagar</button>
        <button class="btn btn-raised btn-primary mr-2" (click)="openModalEditar(templateEditar)">Editar</button>
      </td>
    </tr>
  </tbody>
</table>