

    <div class="site-footer col6">
        <div class="container">
            <div class="site-footer__widgets">
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-6 col-md-6 col-lg-4">
                    <app-footer-contacts></app-footer-contacts>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <app-footer-links header="Informação" [links]="[
                        {label: 'Sobre Nós',             url: './site/about-us'},
                        {label: 'Política de Privacidade',       url: './site/terms'},
                        {label: 'Nosso Contato',           url: './site/contact-us'}
                        
                        ]"></app-footer-links>
                </div>
            </div>
        </div>
    </div>
</div>