<div class="site-footer">
    <div class="container">
        <div class="site-footer__widgets">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <app-footer-contacts></app-footer-contacts>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <app-footer-links header="Informação" [links]="[
                        {label: 'Sobre Nós',             url: './site/about-us'},
                        {label: 'Informação de Entrega', url: './site/terms'},
                        {label: 'Política de Privacidade',       url: './site/terms'},
                        {label: 'Marcas',               url: ''},
                        {label: 'Nosso Contato',           url: './site/contact-us'},
                        {label: 'Devoluções',              url: ''},
                        {label: 'Mapa do Site',             url: ''}
                    ]"></app-footer-links>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <app-footer-links header="Minha Conta" [links]="[
                        {label: 'Localização da Loja', url: ''},
                        {label: 'Histórico de Pedidos',  url: ''},
                        {label: 'Lista de Desejos',      url: './shop/wishlist'},
                        {label: 'Notícias',     url: ''},
                        {label: 'Especiais',       url: ''},
                        {label: 'Cartões Presentes',     url: ''}
                    ]"></app-footer-links>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <app-footer-newsletter class="site-footer__widget"></app-footer-newsletter>
                </div>
            </div>
        </div>

        <div class="site-footer__bottom">
            <div class="site-footer__copyright">
                Powered by <a href="https://angular.io/" target="_blank">Angular</a> — Design by <a [href]="theme.author.profile_url" target="_blank">{{ theme.author.name }}</a>
            </div>
            <div class="site-footer__payments">
                <img src="assets/images/payments.png" alt="">
            </div>
        </div>
    </div>
</div>
